#-------------------------------------------
# configuration of external module
#-------------------------------------------

<ProtocolVersion>.active=false
<ProtocolVersion>.description=
<ProtocolVersion>.classname=

